<div id='nevigation'>
  <div id='nav-list'>
    <div class='nav-item'>
      <div class='nav-item-text'>
        First Nav
      </div>
      <div class='nav-item-icon'>
        <img src='icons/butt_pink.svg' />
      </div>
    </div>
    <div class='nav-item'>
      <div class='nav-item-text'>
        Second Nav
      </div>
      <div class='nav-item-icon'>
        <img src='icons/butt_pink.svg' />
      </div>
    </div>
    <div class='nav-item'>
      <div class='nav-item-text'>
        Third Nav
      </div>
      <div class='nav-item-icon'>
        <img src='icons/butt_pink.svg' />
      </div>
    </div>
  </div>
</div>
