.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.blurb {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
}
.blurb-text {
  margin: 1.5em 0 1.5em .5em;
}

/* Extra-Small devices (376px and up) */
@media (min-width: 376px) {
  .blurb-text {
    margin: .7em 0 .7em .5em;
  }
}
