body {
  margin: 0;
  padding: 0;
}
#content {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: "continue"
                       "intro";
}
#intro {
  width: 100%;
  grid-area: "intro";
  display: grid;
  justify-content: center;
  align-content: center;
}
#continue {
  width: 100%;
  text-align: center;
  grid-area: "continue";
  display: grid;
  justify-content: center;
  align-content: center;
}
#continue-image {
  width: 50%;
}

/* Extra-Small devices (376px and up) */
@media (min-width: 376px) {
  #intro {
    font-size: 2em;
  }
  #continue-image {
    width: 100%;
  }
  #continue-action {
    font-size: 1.5em;
  }
}

/* Medium devices */
@media (min-width: 788px) {
}

/* Large devices */
@media (min-width: 992px) {
  #content {
    grid-template-areas: "continue intro";
  }
  #continue {
    order: 2;
  }
  #intro {
    order: 1;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
